@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Radio+Canada:wght@300&family=Raleway:wght@100&display=swap");
body {
  font-family: "Raleway", sans-serif;
  padding: 0% 2%;
  margin: 0%;
  background-color: #f4f9f9;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #e7fbff;
}

nav .profile {
  display: flex;
  align-items: center;
  padding-bottom: 1%;
  padding-top: 1%;
}

nav .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

nav .profile h1 {
  font-size: 15px;
  margin-left: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid #e4fbff;
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;
}

nav ul li:hover {
  border-bottom-color: #c2d6d6;
}

.page-content {
  margin: 4%;
}

.page-content header {
  margin-top: 5%;
  max-width: 75%;
}

.page-content header h1 {
  margin: 0%;
  font-size: 5vw;
  font-weight: bold;
}

.page-content header p {
  margin: 0%;
  margin-top: 1%;
  max-width: 75%;
  font-size: 2vw;
}

.presentation {
  margin-top: 5%;
  background-color: #e7fbff;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.presentation img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin: 0;
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-left: 2%;
  margin-top: 3%;
}

.presentation h1 {
  margin-left: 6%;
  font-size: 4vw;
  font-weight: bold;
}

.aboutme p {
  margin-left: 6%;
  max-width: 80%;
  font-size: 2vw;
}

.projet h1 {
  font-size: 4vw;
  font-weight: bold;
  margin: 4%;
  padding-top: 5%;
  font-family: "Radio Canada", sans-serif;
}

.projet-info h1 {
  font-size: 3vw;
  font-weight: bold;
  margin: 4%;
  padding-top: 1%;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
}

.block img {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid;
}

.title-project {
  width: 100%;
  margin-top: 3%;
  margin-left: 2%;
}

.textin {
  width: 70%;
  margin-left: 3%;
  margin-top: 1%;
  text-align: center;
  justify-content: center;
}

.textin p {
  font-size: 2vw;
  margin: 1%;
  margin-top: 5%;
  text-align: center;
}

.title-project h1 {
  font-size: 2vw;
  font-weight: bold;
  margin: 1%;
}

.block {
  background-color: rgba(240, 248, 255, 0.678);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  flex-direction: row;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
}

.block img:hover {
  filter: brightness(70%);
}

.galerie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 70px auto 0;
}

.block-item {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  text-align: center;
}

.block-item h2 {
  margin: 0%;
  text-align: center;
  font-weight: bold;
}

.item {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.item1 {
  width: 300px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.projet-video h1 {
  font-size: 3vw;
  font-weight: bold;
  margin: 4%;
  padding-top: 1%;
  font-family: "Raleway", sans-serif;
}

.projet-video h2 {
  font-size: 1vw;
  margin-left: 4%;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.item img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.item1 img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border: solid 1px;
}

.item img:hover {
  filter: brightness(70%);
}

.item1 img:hover {
  filter: brightness(70%);
}

footer h1 {
  max-width: 100%;
  margin: 2%;
  font-size: 3vw;
  font-weight: bold;
  color: black;
}

footer {
  margin-top: 5%;
  background-color: #e7fbff;
  border: solid;
  border-width: 2px 2px 0px 2px;
}

.bloc1 {
  display: flex;
  flex-direction: row;
}

.bloc2 {
  margin-right: 3%;
  margin-top: 2%;
  float: right;
}

.insta {
  width: 50px;
}

.insta img:hover {
  filter: brightness(50%);
}

.block1 {
  margin-left: 8%;
}

@media screen and (max-width: 800px) {
  nav {
    justify-content: center;
  }

  nav ul {
    display: none;
  }

  .page-content header {
    margin-top: 5%;
    max-width: 100%;
  }

  .page-content header p {
    margin: 0%;
    margin-top: 1%;
    max-width: 100%;
  }

  .presentation {
    justify-content: center;
    flex-wrap: wrap;
  }

  .presentation h1 {
    justify-items: center;
  }

  .block {
    background-color: rgba(240, 248, 255, 0.678);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    flex-direction: row;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
